[submodule "cloud-backend"]
	path = cloud-backend
	url = https://github.com/SanariSan/cloud-backend
	branch = preheroku
[submodule "cloud-front"]
	path = cloud-front
	url = https://github.com/SanariSan/cloud-front
	branch = master
